*{
    margin: 0;
    font-size: 16px;
}


/*Inicio de Portada*/
#Portada{
    border:1px solid red;
    margin-bottom: 10px;
    position: sticky;
    background-color: azure;
}

#titulo{
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 2px 0;
}

#redes{
    max-width: 150px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 24px;
    transform: translate(0,-50%);
}

/*Inicio de Contenido*/
#Contenido{
    border:1px solid blue;
    margin-bottom: 10px;

}

#Contenido article {
    max-width: 70%;
    padding: 15px 0 45px 10px;
}

.title{
    font-size: 45px;
    color:orangered;
}

#new{
    width: 70px;
    position: absolute;
    left: 11em;
}

/*Inicio de pie de pagina*/

#Footer{
    border:1px solid green;
}
